aesara==2.2.1
appdirs==1.4.4
APScheduler==3.3.1
arviz==0.11.2
attrs==21.2.0
black==21.9b0
cachetools==4.2.2
certifi==2017.7.27.1
chardet==3.0.4
click==8.0.1
cloudpickle==2.0.0
cycler==0.10.0
distlib==0.3.1
dropbox==8.5.0
fastprogress==1.0.0
filelock==3.0.12
Flask==2.0.1
-e git+ssh://git@github.com/graydenshand/flask-batteries.git@2aeb0d47543fc85a15e752a00bfa0d0ba9e23988#egg=Flask_Batteries
Flask-SSLify==0.1.5
fluent-discourse==1.0.0
gitdb==4.0.7
GitPython==3.1.17
greenlet==1.1.0
gunicorn==19.7.1
idna==2.6
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mypy-extensions==0.4.3
netCDF4==1.2.9
numpy==1.21.2
packaging==20.9
pandas==1.3.3
pathspec==0.9.0
patsy==0.5.1
Pillow==8.3.2
platformdirs==2.3.0
pluggy==0.13.1
protobuf==3.17.3
psycopg2==2.8.6
py==1.10.0
pybind11==2.7.1
pymc3 @ git+https://github.com/pymc-devs/pymc3@59ce9af97f0b840f992322f33ec8dee203d7d1c0
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt6==6.1.1
PyQt6-3D==6.1.1
PyQt6-Charts==6.1.1
PyQt6-DataVisualization==6.1.1
PyQt6-NetworkAuth==6.1.1
PyQt6-sip==13.1.0
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.1
regex==2021.8.28
requests==2.25.1
scipy==1.7.1
sip==6.1.0
six==1.16.0
smmap==4.0.0
SQLAlchemy==1.4.21
SQLAlchemy-Utils==0.37.8
TBB==0.2
toml==0.10.2
tomli==1.2.1
tox==3.23.1
typing-extensions==3.10.0.2
tzlocal==1.4
urllib3==1.22
virtualenv==20.4.7
Werkzeug==2.0.1
xarray==0.19.0
